DATABASE_URL="file:./prisma/dev.db"
VIBE_BASE_URL="https://www.vibeapi.cn/v1"
COMFLY_BASE_URL=""
TEXT_API_PROVIDER="vibe"
IMAGE_API_PROVIDER="vibe"
COMFLY_IMAGE_BASE_URL=""
COMFLY_TEXT_BASE_URL=""
VIBE_API_KEY=""
ALIYUN_OSS_BUCKET=""
ALIYUN_OSS_REGION=""
ALIYUN_OSS_ACCESS_KEY_ID=""
ALIYUN_OSS_ACCESS_KEY_SECRET=""
ALIYUN_OSS_PUBLIC_BASE_URL=""
